# Database setup - Project 2

In [40]:
# Imports
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship

In [41]:
# Create Engine
engine = create_engine("sqlite:///p2_cities.sqlite")

# Use `declarative_base` from SQLAlchemy to model the city table as an ORM class
# Make sure to specify types for each column
# Declare a Base object here
Base = declarative_base()

In [42]:
# Define the ORM class or `Cities`
### BEGIN SOLUTION
class Cities(Base):
    
    __tablename__ = 'cities'

    id = Column(Integer, primary_key=True)
    city = Column(Text)
    state_id = Column(Text)
    population = Column(Float)
    #date = Column(Text)
    #avg_edu = Column(Float)
    #avg_income_pc = Column(Float)
    #total_college_students = Column(Float)
    #crime_rate_per_100000 = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [43]:
#use create all to create the table 

Base.metadata.create_all(engine)

In [44]:
# Verify that the table name exists in the database
engine.table_names()

['cities']

In [45]:
# Use Pandas to Bulk insert each CSV file into the table
def populate_table(engine, table, csvfile):
    """Populates a table from a Pandas DataFrame."""
    # connect to the database
    conn = engine.connect()
    
    # Load the CSV file into a pandas dataframe 
    df_to_insert = pd.read_csv(csvfile)
    
    # Orient='records' creates a list of data to write
    # http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
    #orient = to columns or records better for our needs?
    data = df_to_insert.to_dict(orient='records')

    # Optional: Delete all rows in the table 
    conn.execute(table.delete())#NEEDED OR NOT?

    # Insert the dataframe into the database in one bulk insert
    conn.execute(table.insert(), data)
    
# Call the function to insert the data for each table
populate_table(engine, Cities.__table__, 'cities.csv')

In [50]:
# Use a basic query to validate that the data was inserted correctly for table 'cities'

engine.execute("SELECT * FROM cities WHERE state_id = 'CA' LIMIT 10").fetchall()

[(1840001783, 'Goleta', 'CA', 31116.0),
 (1840009091, 'Blocksburg', 'CA', None),
 (1840009251, 'Garberville', 'CA', None),
 (1840009298, 'Miranda', 'CA', None),
 (1840009321, 'Scotia', 'CA', None),
 (1840009359, 'Weott', 'CA', None),
 (1840009405, 'Orleans', 'CA', None),
 (1840009422, 'Arcata', 'CA', 33806.0),
 (1840009553, 'Fortuna', 'CA', 13375.0),
 (1840009558, 'Eureka', 'CA', 45010.0)]

In [ ]:
#This CSV is serving as our dummy DATA