# Database setup - Project 2

In [1]:
# Imports
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship

In [2]:
# Create Engine
engine = create_engine("sqlite:///p2_cities.sqlite")

# Use `declarative_base` from SQLAlchemy to model the city table as an ORM class
# Make sure to specify types for each column
# Declare a Base object here
Base = declarative_base()

In [3]:
# Define the ORM class or `Cities`
### BEGIN SOLUTION
class Cities(Base):
    
    __tablename__ = 'cities'

    id = Column(Integer, primary_key=True)
    city = Column(Text)
    state_id = Column(Text)
    population = Column(Float)
    lat = Column(Float)
    lng = Column(Float)
    #date = Column(Text)
    #avg_edu = Column(Float)
    #avg_income_pc = Column(Float)
    #total_college_students = Column(Float)
    #crime_rate_per_100000 = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [4]:
#use create all to create the table 

Base.metadata.create_all(engine)

In [5]:
# Verify that the table name exists in the database
engine.table_names()

['cities']

In [6]:
# Use Pandas to Bulk insert each CSV file into the table
def populate_table(engine, table, csvfile):
    """Populates a table from a Pandas DataFrame."""
    # connect to the database
    conn = engine.connect()
    
    # Load the CSV file into a pandas dataframe 
    df_to_insert = pd.read_csv(csvfile)
    
    # Orient='records' creates a list of data to write
    # http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
    #orient = to columns or records better for our needs?
    data = df_to_insert.to_dict(orient='records')

    # Optional: Delete all rows in the table 
    conn.execute(table.delete())#NEEDED OR NOT?

    # Insert the dataframe into the database in one bulk insert
    conn.execute(table.insert(), data)
    
# Call the function to insert the data for each table
populate_table(engine, Cities.__table__, 'cities.csv')

In [10]:
# Use a basic query to validate that the data was inserted correctly for table 'cities'

engine.execute("SELECT * FROM cities WHERE population > 100000 LIMIT 100").fetchall()

[(1840000177, 'Fargo', 'ND', 204820.0),
 (1840000327, 'Portland', 'ME', 206023.0),
 (1840000373, 'Rochester', 'NY', 711998.0),
 (1840000378, 'Syracuse', 'NY', 407259.0),
 (1840000386, 'Buffalo', 'NY', 926261.0),
 (1840000417, 'Albany', 'NY', 597270.0),
 (1840000426, 'Lowell', 'MA', 111346.0),
 (1840000429, 'Cambridge', 'MA', 113630.0),
 (1840000434, 'Worcester', 'MA', 498997.0),
 (1840000437, 'Leominster', 'MA', 119400.0),
 (1840000440, 'Waterloo', 'IA', 112060.0),
 (1840000447, 'Sioux City', 'IA', 106279.0),
 (1840000455, 'Boston', 'MA', 4637537.0),
 (1840000460, 'Binghamton', 'NY', 150747.0),
 (1840000466, 'Springfield', 'MA', 628076.0),
 (1840000471, 'Cedar Rapids', 'IA', 186160.0),
 (1840000478, 'Erie', 'PA', 188079.0),
 (1840000494, 'Chicago', 'IL', 8675982.0),
 (1840000500, 'Poughkeepsie', 'NY', 396041.0),
 (1840000532, 'Iowa City', 'IA', 119091.0),
 (1840000572, 'Toledo', 'OH', 488672.0),
 (1840000596, 'Cleveland', 'OH', 1730363.0),
 (1840000644, 'Lorain', 'OH', 180239.0),
 (1840000673, 'Philadelphia', 'PA', 5637884.0),
 (1840000791, 'Akron', 'OH', 565920.0),
 (1840000838, 'Paterson', 'NJ', 148678.0),
 (1840000963, 'Canton', 'OH', 271184.0),
 (1840001044, 'Allentown', 'PA', 682899.0),
 (1840001185, 'Reading', 'PA', 267300.0),
 (1840001254, 'Pittsburgh', 'PA', 1715297.0),
 (1840001288, 'Harrisburg', 'PA', 441580.0),
 (1840001373, 'Pottstown', 'PA', 109437.0),
 (1840001383, 'Trenton', 'NJ', 296869.0),
 (1840001472, 'York', 'PA', 234245.0),
 (1840001592, 'Baltimore', 'MD', 2170504.0),
 (1840001621, 'Topeka', 'KS', 148960.0),
 (1840001626, 'Kansas City', 'KS', 152938.0),
 (1840001651, 'Saint Louis', 'MO', 2078283.0),
 (1840001678, 'Charlottesville', 'VA', 102016.0),
 (1840001686, 'Wichita', 'KS', 483057.0),
 (1840001698, 'Richmond', 'VA', 1059907.0),
 (1840001839, 'New Orleans', 'LA', 1029123.0),
 (1840002296, 'Eau Claire', 'WI', 107068.0),
 (1840002310, 'Burlington', 'VT', 108277.0),
 (1840002344, 'Green Bay', 'WI', 208625.0),
 (1840002400, 'Appleton', 'WI', 222222.0),
 (1840002418, 'Warren', 'MI', 135022.0),
 (1840002432, 'South Lyon', 'MI', 123850.0),
 (1840002493, 'Racine', 'WI', 131467.0),
 (1840002577, 'La Crosse', 'WI', 101886.0),
 (1840002648, 'Sioux Falls', 'SD', 180204.0),
 (1840002746, 'Utica', 'NY', 114318.0),
 (1840002791, 'Newark', 'NJ', 285154.0),
 (1840002813, 'Saginaw', 'MI', 119336.0),
 (1840002870, 'Muskegon', 'MI', 160142.0),
 (1840002915, 'Madison', 'WI', 439553.0),
 (1840002928, 'Grand Rapids', 'MI', 602694.0),
 (1840002949, 'Flint', 'MI', 335354.0),
 (1840002983, 'Manchester', 'NH', 160742.0),
 (1840002984, 'Nashua', 'NH', 231262.0),
 (1840002996, 'Holland', 'MI', 100885.0),
 (1840003046, 'Milwaukee', 'WI', 1377808.0),
 (1840003094, 'Sterling Heights', 'MI', 132631.0),
 (1840003102, 'Lansing', 'MI', 320928.0),
 (1840003160, 'Kenosha', 'WI', 124888.0),
 (1840003172, 'Ann Arbor', 'MI', 326288.0),
 (1840003185, 'Kalamazoo', 'MI', 214083.0),
 (1840003219, 'New Bedford', 'MA', 149528.0),
 (1840003289, 'Providence', 'RI', 1206642.0),
 (1840003389, 'Scranton', 'PA', 389022.0),
 (1840003478, 'Yonkers', 'NY', 202019.0),
 (1840003563, 'Youngstown', 'OH', 373728.0),
 (1840003600, 'Jersey City', 'NJ', 270753.0),
 (1840003613, 'Elizabeth', 'NJ', 130215.0),
 (1840003718, 'Lancaster', 'PA', 404525.0),
 (1840003760, 'Columbus', 'OH', 1528314.0),
 (1840003798, 'Atlantic City', 'NJ', 241363.0),
 (1840003814, 'Cincinnati', 'OH', 1648254.0),
 (1840003833, 'Olathe', 'KS', 137472.0),
 (1840003834, 'Overland Park', 'KS', 191278.0),
 (1840003837, 'Alexandria', 'VA', 160035.0),
 (1840003845, 'Fredericksburg', 'VA', 164976.0),
 (1840003855, 'Lynchburg', 'VA', 125004.0),
 (1840003858, 'Roanoke', 'VA', 216177.0),
 (1840003862, 'Newport News', 'VA', 179388.0),
 (1840003866, 'Hampton', 'VA', 134669.0),
 (1840003869, 'Norfolk', 'VA', 244703.0),
 (1840003871, 'Virginia Beach', 'VA', 1480383.0),
 (1840003874, 'Chesapeake', 'VA', 240397.0),
 (1840003971, 'Detroit', 'MI', 3522206.0),
 (1840004773, 'Hartford', 'CT', 914751.0),
 (1840004828, 'Norwich', 'CT', 203916.0),
 (1840004836, 'Bridgeport', 'CT', 938406.0),
 (1840004837, 'Danbury', 'CT', 177177.0),
 (1840004841, 'Stamford', 'CT', 130824.0),
 (1840004850, 'New Haven', 'CT', 568144.0),
 (1840004851, 'Waterbury', 'CT', 191484.0),
 (1840005061, 'Huntsville', 'AL', 309716.0),
 (1840005563, 'Tuscaloosa', 'AL', 154204.0),
 (1840005613, 'Hagerstown', 'MD', 185704.0)]

In [ ]:
#This CSV is serving as our dummy DATA